<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Prime Libraries</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/responsive.css">
    
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?V=3"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="static/script.js"></script>
    
</head>

<body>

    <script id="template" type="text/template">
        <% _.each(rows, function(row, index) { %>
            <div class="place" data-latitude="<%= row.latitude %>" data-longitude="<%= row.longitude %>">
                <div class="ribbon">
                    <h2><span class="place-id-num"><%= index + 1 %></span> <%= row.title %></h2>                                                
                </div>
                    <p>
                        <%= row.paragraphs %>
                    </p>
                    <div class="place-img">
                    <% _.each(row.images, function(image) { %>
                        <img src="<%= image %>"</img>
                    <% }); %>
                    </div>
                    <p>
                        <%= row.address %>
                    </p>                    
            </div>
        <% }); %>
    </script> 
    
    <header id="feature-head">
        <h1>Feature Head Goes Here</h1>
        <p>Currently pulling data from <a style="color: azure; font-weight: bold;" href="https://docs.google.com/a/g.ucla.edu/spreadsheets/d/1-ctEBQtzM0vV-wEFMa1-AgcFtkWu4nPbBIzys-1rqq0/edit">this spreadsheet</a></p>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et maximus orci. Sed ultrices pellentesque dolor vel tempus. Vivamus nec ipsum magna. Mauris malesuada lobortis diam, et mollis tortor elementum auctor. Etiam ac facilisis elit. Donec consectetur fringilla pellentesque. Sed varius sapien est, at vehicula turpis varius nec. Ut nec dictum enim. Suspendisse et pharetra lectus, eu blandit ligula. Nunc id ligula id metus suscipit placerat.</p>
        <p>Etiam non vestibulum odio. Vestibulum faucibus lorem sit amet lorem varius auctor. Morbi at nibh vel lacus semper convallis. Proin at metus porttitor, porttitor lacus vel, volutpat lectus. Aliquam erat volutpat. Praesent ex magna, fringilla non aliquam ut, luctus at sem. Ut vel leo condimentum, tempus diam a, ullamcorper mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec a commodo felis. Quisque sit amet eleifend diam. Cras bibendum non sem sed mattis. Nullam porta accumsan ipsum sed hendrerit.</p>
        <p>Quisque sit amet lacus neque. Aenean sollicitudin lorem fringilla velit vestibulum dignissim. Aliquam non porta orci. Morbi auctor at urna et congue. Duis vitae turpis metus. Pellentesque vitae mattis leo, et rutrum arcu. Fusce quis tristique mi, placerat lobortis ante. Vivamus feugiat commodo massa, ac imperdiet libero interdum nec. Curabitur aliquet vulputate diam quis fermentum. Pellentesque lectus diam, elementum sit amet pulvinar at, vulputate non mi. Duis nisl ipsum, venenatis sit amet leo sed, tempor fringilla dolor. Ut euismod congue nisi, nec consectetur mauris porttitor nec. Vivamus cursus commodo felis. Sed purus sem, commodo id varius consequat, sollicitudin sit amet est.</p>
        <p></p>
    </header>
    <div id="map-canvas"></div>
    <div id="container"></div>
</body>
</html>