@media (max-width: 582px) {   
    h1 {
        margin-top: 0;
        font-size: 3em;
        line-height: 80%;
    }
    
    #feature-head {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        padding-top: 3%;
    }
    


    #container  {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }
    
    div.place {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        overflow-x: hidden;
    }
    
    #map-canvas {
        max-height: 145px;
        height: 145px;
        z-index: 5;
    }
    
    .place h2 {

        box-sizing: border-box;
        width: 150%;     
        margin-top: 15px;
        margin-left: -20px;
        padding: 5px 30px;
        position: static;
        border-radius: 0;
    }
    
    .place h2::before {
        display: none;
    }
}