#feature-head {
    text-align: center;
    background-color: khaki;
    box-sizing-border-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100%;
}

body {
    background-color: azure;
}

.place {
    background-color: white;
    max-width: 485px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#map-canvas {
    min-height: 100%;
    width: 100%;
}

#container {
    position: relative;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}