#feature-head {
    text-align: center;
    background-color: black;  /* khaki */
    color: snow;
    box-sizing-border-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100%;
}

body {
    background-color: azure;
}

#container {
    position: relative;
    top: -100%;
    display: block;
    max-width: 485px;
}

.place {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

#map-canvas {
    min-height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}