#feature-head {
    background-color: black;  /* khaki */
    color: snow;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    min-height: 100%;
    background: url('texture.png');
}

p {
    font: 1em "Helvetica";
}

h1 {
    font: bold 5em "Calibri", Helvetica, Arial, sans-serif;
    text-align: center;
}

#container {
    position: relative;
    display: block;
    max-width: 485px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.place {
    margin-bottom: 25px;
    margin-left: 20px;
    padding: 5px 20px 20px 20px;
    box-sizing: border-box;
    box-shadow: 6px 9px 17px -2px rgba(0,0,0,0.6);
    border-radius: 10px;
    background: url('texture.png');
    color: white;
}

/*
.place-id-num {
    color: white;
}
*/

.place .place-img {
    margin: 0 -20px 30px;
    box-sizing: border-box;
    text-align: center;
}

.place img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.place h2 {
    font: bold 2em "Calibri", Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}